<!-- Image trigger modal -->
<img src="{{photo}}" class="img-circle" data-toggle="modal" data-target="#myModal">
<hr>
<h3 class="user-name"><strong>Name: </strong>{{name}}</h3>
<p class="user-age"><strong>Age: </strong>{{age}}</p>
<p class="user-interest-category"><strong>Interest Category: </strong>{{interest_category}}</p>
<div class="interest-button-section">
	<button type="button" class="destroy">Not Interested</button>
	<button type="button" class="interested-button">Interested</button>
</div>


