// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Crete+Round);

body { 
  background: url(asset_path('bg@1440.jpg')) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Crete Round', serif;
  margin: 0 0 100px; /* bottom = footer height */ 
}

html {
    position: relative;
    min-height: 100%;
}

.navbar-header {
  margin-left: 600px;
}

#main-header-title {
  color: white;
  margin-bottom: 20px;
}

.section-title {
  color: white;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  border-radius: 20px;
  width: 300px;
  height: 300px;
  }

.destroy {
  @extend .button-responsive;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  width: 150px;
  color: black;
  background-color: rgba(255, 0, 0, 0.3);
}

.destroy:hover {
  background-color: rgba(255, 0, 0, 1);
}

#welcome {
  color: white;
}

.user {
  border: 2px solid;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 20px 0px;
}

.user:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.img-circle {
  margin-bottom: 10px;
}

.deal {
  border: 2px solid;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 20px 0px;
}

.deal:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.deal img {
  margin-bottom: 40px;
  width: 400px;
}



.user-name {
  color: white;
}

.user-age {
  color: white;
}

.user-interest-category {
  color: white;
}

#match-section {
  border: 2px solid;
  border-radius: 10px;
  @extend .text-center;
  background-color:rgba(0,0,0,0.4);
  margin-top: 80px;
}

#match-section:hover {
  background-color:rgba(0,0,0,0.8);
}

#deal-section {
  border: 2px solid;
  border-radius: 10px;
  @extend .text-center;
  background-color:rgba(0,0,0,0.4);
  margin-top: 80px;
}

#deal-section:hover {
  background-color:rgba(0,0,0,0.8);
}

.deal-title {
  color: rgba(226, 232, 234, 1);
}

.deal-category {
  color: rgba(226, 232, 234, 1);
}

.deal-description {
  color: rgba(226, 232, 234, 1);
}

.deal-expiration-date {
  color: rgba(226, 232, 234, 1);
}

.interested-button {
  @extend .button-responsive;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  width: 150px;
  color: black;
  background-color: rgba(0, 255, 0, 0.3);
}

.interested-button:hover {
  background-color: rgba(0, 255, 0, 1);
}

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  color: white;
  font-size: x-large;
}

.button-section {
  margin-bottom: 10px;
}

li.nav-link {
  color: white;
  font-size: x-large;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  /*background-color: #eee;*/
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Bootstrap
// generated by the rails_layout gem
.authform {
  padding-top: 50px;
  max-width: 320px;
  margin: 0 auto;
}

.cancel-account-header {
  color: rgba(226, 232, 234, 1);
}

#authform-title {
  color: rgba(226, 232, 234, 1);
}

.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

footer {
  background-color: rgb(34, 34, 34);
  padding: 30px 0px;
  border-top-color: rgb(9, 9, 9);
  text-align: center;
  font-size: x-large;
  margin-top: 205px;
  color: rgba(226, 232, 234, 1);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}



