<script type="text/javascript">

	$(function() {

		// Load collections
		App.usersCollection = new App.UsersCollection();
		App.usersCollection.fetch({reset: true});

		App.dealsCollection = new App.DealsCollection();
		App.dealsCollection.fetch({reset: true});

		App.matchesCollection = new App.MatchesCollection();
		App.matchesCollection.fetch({reset: true});


		// Load views
		App.usersView = new App.UserListView({
			collection: App.usersCollection
		});

		App.dealsView = new App.DealListView({
			collection: App.dealsCollection
		});

		App.matchesView = new App.MatchListView({
			collection: App.matchesCollection
		})

		// Load Router
		App.router = new App.Router();

		Backbone.history.start();

	});
</script>

<div id="user-section">
	<h2 class="section-title">Users</h2>
	<div id="user-list"></div>
</div>

<div id="match-section">
	<h2 class="section-title">My Matches</h2>
	<div id="match-list"></div>
</div>

<div id="deal-section">
	<h2 class="section-title">My Suggested Dates / Deals</h2>
  <div id="deal-list"></div>
</div>
