<script type="text/javascript">

	$(function() {

		// Load collections
		App.usersCollection = new App.UsersCollection();
		App.usersCollection.fetch({reset: true});

		App.dealsCollection = new App.DealsCollection();
		App.dealsCollection.fetch({reset: true});

		App.matchesCollection = new App.MatchesCollection();
		App.matchesCollection.fetch({reset: true});


		// Load views
		App.usersView = new App.UserListView({
			collection: App.usersCollection
		});

		App.dealsView = new App.DealListView({
			collection: App.dealsCollection
		});

		App.matchesView = new App.MatchListView({
			collection: App.matchesCollection
		})

		// Load Router
		App.router = new App.Router();

		Backbone.history.start();

	});
</script>

<!-- Small modal -->
<button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      MODAL
    </div>
  </div>
</div>


<div id="user-section">
	<h2 class="section-title">Users</h2>
	<div id="user-list"></div>
</div>

<div id="match-section">
	<h2 class="section-title">My Matches</h2>
	<div id="match-list"></div>
	<div id="deal-section">
		<h2 class="section-title">My Suggested Dates / Deals</h2>
	  <div id="deal-list"></div>
	</div>
</div>


