<script type="text/javascript">
	$(function() {

		// Load collections
		App.usersCollection = new App.UsersCollection();
		App.usersCollection.fetch({reset: true});

		App.dealsCollection = new App.DealsCollection();
		App.dealsCollection.fetch({reset: true});


		// Load views
		App.usersView = new App.UserListView({
			collection: App.usersCollection
		});

		App.dealsView = new App.DealListView({
			collection: App.dealsCollection
		});


		// Load Routers
		App.usersRouters = new App.UsersRouters();
		// App.dealsRouters = new App.DealsRouters();


		Backbone.history.start();
		console.log('OH EM GEEE');
	});
</script>

<div id="user-section">
  <h4>Users Online:</h4>
  <div id="user-count"></div>
  <div id="user-list"></div>
</div>

<h2>My Matches</h2>
<div id="match-section">
	<div id="match-list"></div>
</div>

<h2>Deals</h2>
<div id="deal-section">
  <div id="deal-list"></div>
</div>