<script type="text/javascript">

	$(function() {

		// Load collections
		App.usersCollection = new App.UsersCollection();
		App.usersCollection.fetch({reset: true});

		App.dealsCollection = new App.DealsCollection();
		App.dealsCollection.fetch({reset: true});

		App.matchesCollection = new App.MatchesCollection();
		App.matchesCollection.fetch({reset: true});


		// Load views
		App.usersView = new App.UserListView({
			collection: App.usersCollection
		});

		App.dealsView = new App.DealListView({
			collection: App.dealsCollection
		});

		App.matchesView = new App.MatchListView({
			collection: App.matchesCollection
		})

		// Load Router
		App.router = new App.Router();

		Backbone.history.start();

	});
</script>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        Picture
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div id="user-section">
	<h2 class="section-title">Users</h2>
	<div id="user-list"></div>
</div>

<div id="match-section">
	<h2 class="section-title">My Matches</h2>
	<div id="match-list"></div>
	<div id="deal-section">
		<h2 class="section-title">My Suggested Dates / Deals</h2>
	  <div id="deal-list"></div>
	</div>
</div>


